<div>
  <div *ngIf!="user">
    <h1>Loading ......</h1>
  </div>
   <div *ngIf="user">
      <h2>Profile for {{user.firstname}}  {{user.lastname}}</h2>
      <div class="form-group">
            <label for="txtEmail">Email address</label>
            <input [(ngModel)]="user.email" type="email" class="form-control" id="txtEmail" name="email" disabled/>
       </div>
       <div class="form-group">
            <label for="txtfname">First Name</label>
            <input [(ngModel)]="user.firstname" type="text" class="form-control" id="txtfname" name="fname" [disabled]="!editEnabled" />
        </div>
        <div class="form-group">
            <label for="txtlname">Last Name</label>
            <input [(ngModel)]="user.lastname" type="text" class="form-control" id="txtlname" name="lname" [disabled]="!editEnabled"/>
        </div>
       <div class="form-group">
            <label for="txtstate">State</label>
            <input [(ngModel)]="user.state" type="text" class="form-control" id="txtstate" name="state" [disabled]="!editEnabled"/>
        </div>
        <div class="form-group">
            <label for="txtcountry">Country</label>
            <input [(ngModel)]="user.country" type="text" class="form-control" id="txtcountry" name="country" [disabled]="!editEnabled"/>
        </div>
        <div class="form-group">
            <label for="txtMobile">Mobile</label>
            <input [(ngModel)]="user.mobile" type="tel" class="form-control" id="txtMobile" name="mobile" [disabled]="!editEnabled"/>
        </div>
        <div class="form-group">
            <label for="txtcar">CarNumber</label>
            <input [(ngModel)]="user.carNumber" type="tel" class="form-control" id="txtcar" name="car" [disabled]="!editEnabled"/>
        </div>
    <button (click)="goBack()">Back</button>
    <button (click)="flipEdit()" [hidden]="editEnabled">Edit</button>
    <button (click)="save()" [hidden]="!editEnabled">Save</button>
    <button (click)="flipEdit()" [hidden]="!editEnabled">Cancel</button>
  </div>
</div>
